<p id="notice"><%= notice %></p>

<p>
  <b>Anyag neve:</b>
  <%= @item.name %>
</p>

<p>
  <b>Mértékegysége:</b>
  <%= @item.unit_id %>
</p>


<%= link_to 'Anyag szerkesztése', edit_item_path(@item) %> |
<%= link_to 'Visszalépés', items_path %>
