<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
       <div class="panel-heading">
        <% if @plan.new_record? %>
          <h3>
            <%= @project.name %></br>
            <span class="glyphicon glyphicon-plus"></span></br>
            <%= 'Tervezett anyag sor felvitele' %>
          </h3>
        <% else %>
          <h3>
            <%= @project.name %></br>
            <span class="glyphicon glyphicon-pencil"></span></br>
            <%= 'Tervezett anyag sor módosítása' %>
          </h3>
        <% end %>
      </div>
      <div class="panel-body">
        <%= simple_form_for [@project, @plan] do |f| %>
          <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= @project.errors.count %> hibát kérem javítson ki:</h2>

              <ul>
              <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <% if @plan.new_record? %>
            <div class="field">
              <%= f.association :item, label: 'A tervezett anyag neve', :autofocus => true, include_blank: false %>
            </div>
          <% else %>
            <h4><%= @plan.item.name %></h4>
          <% end %>
          </br>
          <div class="field">
            <%= f.input :quantity, as: :decimal, label: 'Mennyiség a tervezett anyagból' %>
          </div>
          </br>
          <% if @plan.new_record? %>
            <%= f.submit "Anyag sor létrehozása", class: 'btn btn-primary btn-lg btn-block' %>
          <% else %>
            <%= f.submit "Anyag sor frissítése", class: 'btn btn-primary btn-lg btn-block' %>
          <% end %>
        <% end %>
      </div> <!--panel-body -->
    </div> <!--panel-primary -->
  </div> <!--col-md4 -->
</div> <!--row -->