<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:oldal_cim) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/menusor' %>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/lablec' %>
  </div>
</body>
</html>
